{% extends 'layout/base.html'%} {% load static %}

<title>{%block title%} Book Page {%endblock%}</title>

{%block content%}

<div class="row">
  <div class="col-lg-2">
    <div class="list-group text-center">
      <!-- Highlight "ALL" if no category is selected -->
      <a
        href="{% url 'book:index' %}"
        class="list-group-item list-group-item-action {% if not categ_id %} active {% endif %}"
      >
        ALL
      </a>
      <!-- Loop through categories and highlight the active one -->
      {% for c in categories %}
      <a
        href="{% url 'book:index' %}?categoryid={{ c.id }}"
        class="list-group-item list-group-item-action {% if categ_id|add:'0' == c.id %} active {% endif %}"
      >
        {{ c.name }}
      </a>
      {% endfor %}
    </div>
  </div>

  <div class="col-lg-10">
    <h1>FOF Contamination update</h1>

    <div class="row mt-1">
      {% for b in books %}
      <div class="col-lg-3 mt-4">
        <div class="card">
          {% if b.image %}
          <a href="{% url 'book:detail'  slug=b.slug %}">
            <div class="image-container">
              <img
                class="card-img-top img-fluid"
                src="{{b.image.url}}"
                alt=""
              />
            </div>
          </a>
          {% endif %}

          <div class="card-body">
            <h5>
              <a href="{% url 'book:detail'  slug=b.slug %}">{{b.name}}</a>
            </h5>
          </div>
          <div>&nbsp&nbspCategory: {{b.category.name}}</div>
          <!-- <div>&nbsp&nbspPrice: {{b.price|floatformat:2}}</div> -->
          {% for a in b.author.all %}
          <div>
            &nbsp&nbspEngineer:
            <span class="badge badge-secondarey">{{a.name}}</span>
          </div>
          {% endfor %}

          <!-- {% for a in b.author.all %}
        <span class = "badge badge-secondarey ">{{a.name}}</span>
        {% endfor %} -->

          <a
            href="{% url 'book:detail'  slug=b.slug %}"
            class="btn btn-secondary mt-3"
          >
            More Detail</a
          >
        </div>
      </div>

      {% endfor %}
    </div>
    
    <hr />

    <ul class="pagination justify-content-center mb-5">
      <!-- Previous Page Link -->
      {% if books.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ books.previous_page_number }}"
          >Previous</a
        >
      </li>
      {% endif %}

      <!-- Page Numbers -->
      {% for i in paginator.page_range %}
      <li class="page-item {% if books.number == i %}active{% endif %}">
        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
      </li>
      {% endfor %}

      <!-- Next Page Link -->
      {% if books.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ books.next_page_number }}">Next</a>
      </li>
      {% endif %}
    </ul>
  </div>

  {%endblock%}
</div>
